# Домашнее задание №2

(выполнил Черевко В.И.)

## Задание 1

In [35]:
word = input('Введите текст:')

len_var = len(word)

if len_var % 2 == 0:
    half_var = int(len_var / 2)
    print(word[(half_var - 1) : (half_var + 1)])
else:
    print(word[len_var // 2])

Введите текст: 121

2

## Задание 2

In [44]:
cnt_var = 0

while True:
    
    inp_var = input("Введите натуральное число или ноль:")
    
    if not inp_var.isdigit():
        continue
    
    int_var = int(inp_var)
    
    if int_var != 0:
        cnt_var += int_var
    else:
        print(f'Результат:{cnt_var}')
        break

Введите натуральное число или ноль: 1
Введите натуральное число или ноль: 4
Введите натуральное число или ноль: 6
Введите натуральное число или ноль: 0

Результат:11

## Задание 3

In [54]:
#boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Michael']
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

if len(boys) != len(girls):
    print('Внимание, кто-то может остаться без пары!')
else:
    boys.sort()
    girls.sort()

    pairs = zip(boys, girls)

    for boy, girl in pairs:
        print(f"{boy} и {girl}")

Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

## Задание 4

In [59]:
countries_temperature = [
['Таиланд', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Германия', [57.2, 55.4, 59, 59, 53.6]],
['Россия', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Польша', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

print("Средняя температура в странах:")
for country, temp_row in countries_temperature:
    print(f"{country} -{(((sum(temp_row)/len(temp_row)) - 32)/1.8): .1f} C")

Средняя температура в странах:
Таиланд - 23.9 C
Германия - 13.8 C
Россия - 3.7 C
Польша - 12.0 C

## Задание 5

## Задание 6